<style>
    .footer {
        background-color: var(--text-dark);
        color: var(--text-light);
        padding: 40px 0;
        text-align: center;
    }

    .footer p {
        margin-bottom: 20px;
    }
</style>

<footer class="footer">
    <div class="container">
        <p>С любовью, Айнур и Полина</p>
        <p><i class="fas fa-heart heart"></i></p>
        <p>21.02.2026</p>
    </div>
</footer>